html{
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
}

body{
    background-color: black;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.box1{
    display: flex;
    flex-direction: row;
    flex: 1;
    aspect-ratio: 1.4/1;
    max-width: 75vw;
    max-height: 95vh;
    object-fit: contain;
    margin: 0%;
    background-color: red;
}

.box1-1{
    display: flex;
    flex: 1;
    position: relative;
    /*flex-direction: column;*/
    aspect-ratio: 0.52/1;
    object-fit: contain;
    height: 100%;
    width: 100%;
    overflow: hidden;

}
.box1-2{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
    aspect-ratio: 0.8857/1;
    object-fit: contain;

}
.box1-2-top{
    display: flex;
    flex: 1;
    width: auto;
    height: 40%;
    background-color:#ececec;
    font-size: 1.5vw;
}
.box1-2-middle{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: auto;
    height: 20%;
    background-color: white;
    position: relative;
    padding-left: 1em;
}
.box1-2-bottom{
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    width: auto;
    height: auto;
    background-color:#ececec;
    box-shadow: inset 0px 5px 0px 0px #fff, 
    inset 0 7.5px 15px 0px #ccc,
    inset 0 10px 5px 0px #bbb;
}

#text1{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

#text2{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    padding-left: 5%;
}

form{
    display: flex;
    flex-direction: row;
    flex: 1;

}

#first_column{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1.5em;
    font-size: 1vw;
    width: 5vw;
}

#second_column{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1.5em;
    font-size: 1vw;
    width: 5vw;
}

#form_text{
    font-size: 1vw;
}

label{
    font-size: 0.85em;
}

input{
    width: 6em;
    height: 1em;
}

#Plant{
    /*height: 730px;*/
}

#black_div{
    position: absolute;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    height: 15%;
    width: 100%;
    top: 30%;
    left: 0%;
    object-fit: contain;
    justify-content: center;
}

#create_account{
    position: absolute;
    top: 2em;
    width:10em;
    left: 1em;
}

.box1-2-bottom>p{
    position: absolute;
    top: 5em;
    width: auto;
    font-size: 0.75em;
    left: 1em;
}

#create_account{
    position: relative;
    background-color: #596D48;
    color: white;
    border-radius: 7px;
    width: 11em;
    height: 3em;
    top: 2em;
    font-size: 0.75em;
    left: 1.5em;
}

#bottom-text{
    position: relative;
    top: 3em;
    font-size: 0.65em;
    left: 1.5em;
}

.input{
    border:3px solid #E5E7EB;
    width: 15em;
    height: 1.25em;
    border-radius: 4px;
}

input:focus{
    border: 3px solid blue;
    box-shadow: 0px 0px 0px 0px #fff, 
     0 7.5px 15px 0px #ccc,
     0 10px 5px 0px #bbb;
}

input:invalid{
    border:3px solid red;
}

